<section class="hero">
  <div class="container buttons-container">
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
    <div class="swiper hero__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero__slide slide slide--cat">
            <div class="container hero__container">
            <div class="hero__content">
              <h2 class="title-reset hero__title">Мы заботимся
                о ваших питомцах</h2>
              <p class="text-reset hero__text">Записывайтесь в ветклиники
                и консультируйтесь с ветеринарным врачом онлайн</p>
              <a href="#footer" class="link-reset hero__link slide--cat__link">Связаться с нами</a>
            </div></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__slide slide slide--dog">
            <div class="container hero__container">
            <div class="hero__content">
              <h2 class="title-reset hero__title slide--dog__title">Закажите план заботы</h2>
              <p class="text-reset hero__text slide--dog__text">Регулярная доставка специально подобранного корма и других товаров для кошек и собак</p>
              <span class="hero__price">от 1299 ₽/мес</span>
              <button class="button-reset hero__link slide--dog__button">Подобрать план</button>
            </div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
</section>
