<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="first">
    <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content modal-form">
      <h3 class="title-reset modal-form__title">Чтобы подобрать план,
        необходимо заполнить форму ниже</h3>
      <form class="modal-form__form" action="https://jsonplaceholder.typicode.com/posts" method="post">
        <span class="modal-form__text">У меня:</span>
        <div class="modal-form__wrapper">
          <label class="modal-form__label">
            <input class="modal-form__radio radio" type="radio" name="pet" id="cat">
            <span class="radio__box"></span>
            Кошка
          </label>
        <label class="modal-form__label">
          <input class="modal-form__radio radio" type="radio" name="pet" id="dog">
          <span class="radio__box"></span>
          Собака
        </label>
        </div>
        <input class="modal-form__input" type="text" placeholder="Имя питомца">
        <input class="modal-form__input" type="text" placeholder="Порода питомца*" required>
        <input class="modal-form__input" type="text" placeholder="Возраст питомца*" required>
        <input class="modal-form__input" type="text" placeholder="Ваш номер телефона">
        <input class="modal-form__input" type="text" placeholder="Ваш email*" required>
        <button class="modal-form__submit button-reset" type="submit">Отправить</button>
      </form>
    </div>
  </div>
</div>
