*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --light-blue: #BEE7E8;
}

body {
  position: relative;
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.stop-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden
}

.container {
  max-width: 1256px;
  margin: 0 auto;
  padding: 124px 20px;
}

.title-reset {
  margin: 0;
}

.text-reset {
  margin: 0;
}

.link-reset {
  text-decoration: none;
  color: inherit;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.button-reset {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

@media (max-width: 768px) {
  .container {
    padding: 50px 20px;
  }
}

.header__container {
  padding-top: 48px;
  padding-bottom: 32px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header__nav-link {
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
  color: #333333;
}

.header__nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #394573;
  transition: width .3s, color .3s;
}

.header__nav-link:hover::after {
  width: 100%;
}

.header__nav-link:hover {
  color: #394573;
}

.header__socials-list {
  display: flex;
  gap: 28px;
  align-items: center;
}

.burger-button {
  display: none;
  width: 32px;
  height: 22px;
  background-image: url('../img/menu.svg');
}



.burger-menu__close {
  display: none;
  width: 24px;
  height: 24px;
  background-image: url('../img/close.svg');
}

@media (max-width: 1200px) {

  .burger-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: opacity 0.7s, transform 0.7s;
    flex-direction: column;
    padding-top: 50px;
    background: #394573;
  }

  .header__socials-list {
    display: none;
  }

  .burger-button {
    display: flex;
  }

  .burger-menu--active {
    transform: translateY(0);
    z-index: 5;
    opacity: 1;


  }

  .header__nav-list {

    flex-direction: column;
    padding-top: 50px;
    background: #394573;
  }

  .header__nav-link {
    color: #BEE7E8;
  }

  .burger-menu--active .burger-menu__close {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
  }
}


.hero {}

.hero__container {
  position: relative;
  padding-top: 105px;
  padding-bottom: 146px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 613px;
}

.hero__title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  color: var(--light-blue);
}

.hero__text {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #A0D2DB;
}

.hero__price {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;

  color: #394573;
}

.hero__link {
  padding: 17px 49px;
  border-radius: 40px;

  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}


.slide--cat__link {
  background-image: linear-gradient(90deg, #A0D2DB 0%, #726DA8 100%);

}

.slide {
  background-image: url('../img/hero-cat.png'), url('../img/ellipse-bg.png');
  background-repeat: no-repeat;
  background-position: center right 100px, bottom center;
  background-size: 25%, cover;
}

.slide--dog {
  background-color: #fff;
  background-image: url('../img/hero-dog.jpg');
  background-position: center center;
  background-size: cover;
}

.slide--dog__title {
  color: #394573;
}

.slide--dog__text {
  color: #394573;
}

.slide--dog__button {
  background-color: #394573;
}

.swiper-pagination {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  top: 60px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: '';
  height: 32px;
  width: 32px;
  background-image: url('../img/swiper-arrow.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.swiper-button-prev:after {
  transform: rotate(180deg);
}

@media (max-width: 1024px) {

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .swiper-pagination {
    display: block;
  }

  .slide {
    margin-left: 20px;
    margin-right: 20px;
    border-radius : 24px;

  }

  .slide--cat {
    background-color: #394573;
    background-image: url('../img/hero-cat.png');
    background-position: bottom right;
    background-size: 30%;
  }
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 24px;
    line-height: 29px;
  }

  .hero__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .hero__link {
    padding: 12px 15px;
    font-size: 14px;
    line-height: 17px;
  }
}

.articles__list {
  display: flex;
  gap: 32px;
}

.articles__item {
  width: calc((100% - 32px)/2);
}

.article {
  height: 100%;

  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.article--online {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.article--online__front {
  grid-area: 1/1;
  padding: 379px 40px 54px;
  border-radius: 40px;
  transition: opacity 0.4s;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #333333 100%), url('../img/content-dog.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.article--online__back {
  opacity: 0;
  grid-area: 1/1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px 62px 49px 40px;
  transition: opacity 0.4s;
}

.article--online:hover .article--online__front {
  opacity: 0;
}

.article--online:hover .article--online__back {
  opacity: 1;
}


.article--online__link {
  padding-bottom: 40px;
  background-image: url('../img/arrow.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}

.back-article__title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #394573;
}

.back-article__price {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #A0D2DB;
}

.back-article__list {
  margin-bottom: 56px;
}

.back-article__item {
  display: flex;
  align-items: center;
  min-height: 56px;
  margin-bottom: 24px;
  padding-left: 70px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #333333;
  background-image: url('../img/check.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.back-article__link {
  padding: 17px 45px;
  background-color: #394573;
  border-radius: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}

.article--diseases {
  padding: 379px 40px 54px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #333333 100%), url('../img/content-cat.png');
}

.article__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}

.article--diseases__title {
  margin-bottom: 16px;
}

.article__text {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.article--diseases__link {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .articles__list {
    flex-direction: column;
  }

  .article--online__front {
    opacity: 0;
  }

  .article--online__back {
    align-items: center;
    opacity: 1;
  }

  .back-article__title {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .back-article__price {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 32px;
  }

  .back-article__list {
    margin-bottom: 32px;
  }

  .back-article__item {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 17px;
  }

  .back-article__link {
    padding: 16px 29px;
    font-size: 14px;
    line-height: 17px;
  }

  .articles__item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .article__title {
    font-size: 20px;
    line-height: 24px;

  }

  .article__text {
    font-size: 14px;
    line-height: 17px;
  }

  .article--diseases__link {
    font-size: 16px;
    line-height: 20px;
  }
}


.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #726DA8;
}

.footer__link:not(:last-child) {
  margin-bottom: 5px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #394573;
}

@media (max-width: 1024px) {
  .footer__container {
    flex-direction: column;
    gap: 32px;
  }
}

@media (max-width: 768px) {
  .footer__logo {
    order: -1;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  max-width: 592px;
  padding: 48px 40px;
  background: #FFFFFF;
  border-radius: 40px;
}

.modal-form__title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #394573;
}

.modal-form__form {
  display: flex;
  flex-direction: column;
}

.modal-form__text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #394573;
}

.modal-form__label {
  display: inline-block;
  margin-bottom: 24px;
  padding-left: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #394573;
}

.modal-form__label:not(:last-child) {
  margin-right: 20px;
}

.modal-form__input {
  border: 0;
  border-bottom: 1px solid #394573;
  margin-bottom: 24px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.modal-form__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #394573;
}

.modal-form__submit {
  align-self: center;
  padding: 17px 87px;
  background: #394573;
  border-radius: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}

.radio {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio__box {
  position: absolute;
  margin-left: -30px;
  width: 24px;
  height: 24px;
  border: 1px solid #394573;
  border-radius: 50%;
}


.radio:checked + .radio__box::after {
  content: '';
  position: absolute;
  display: block;
  height: 8px;
  width: 8px;
  left: 7px;
  top: 7px;
  background-color: #394573;
  border-radius: 50%;
}

.radio:focus-visible + .radio__box {
  outline: 1px solid #726DA8;
  outline-offset: 2px;
}

.graph-modal__container {
  width: initial;
  border-radius: 0;
  padding: 0;
  background-color: initial;
}

.graph-modal__close {
  right: 30px;
  top: 30px;
}
