*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --light-blue: #BEE7E8;
}

body {
  position: relative;
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.stop-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden
}

.container {
  max-width: 1256px;
  margin: 0 auto;
  padding: 124px 20px;
}

.title-reset {
  margin: 0;
}

.text-reset {
  margin: 0;
}

.link-reset {
  text-decoration: none;
  color: inherit;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.button-reset {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

@media (max-width: 768px) {
  .container {
    padding: 50px 20px;
  }
}


@import "./components/fonts";
@import "./components/header";
@import "./components/hero";
@import "./components/articles";
@import "./components/footer";
@import "./components/modal";
